# Non-extension files should be reviewed by the core team
* @GDevelopApp/core-engineering-team

# Extensions are to be reviewed by the extensions team
/extensions/ @GDevelopApp/extensions-team

# Modifications to the rules for submitting extension should be reviewed
# by both the core team and the extensions team
/scripts/lib/rules/ @GDevelopApp/core-engineering-team @GDevelopApp/extensions-team
/scripts/lib/ExtensionsValidatorExceptions.js @GDevelopApp/core-engineering-team @GDevelopApp/extensions-team
/scripts/lib/ExtensionValidator.js @GDevelopApp/core-engineering-team @GDevelopApp/extensions-team
