name: GDevelop Extensions PR commands
on: issue_comment
jobs:
  rebase:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '!rebase') }}
    steps:
      - uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - uses: actions/checkout@v2
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}
          fetch-depth: 0

      - name: Merge new commits from main and push
        run: |
          git config --global user.name '${{ github.actor }}'
          git config --global user.email '${{ github.actor }}@users.noreply.github.com'
          git merge -X theirs origin/main -m "Rebase from main"
          git push

      - name: Rebuild the database
        run: |
          npm i
          echo 'BUILD_LOGS<<EOF' >> $GITHUB_ENV
          node scripts/generate-extensions-registry.js --check-ci >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Notify success
        if: ${{ contains(env.BUILD_LOGS, 'successfully updated') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr comment ${{ github.event.issue.number }} --body "✅ Successfully rebased from main!"

      - name: Notify error
        if: ${{ !contains(env.BUILD_LOGS, 'successfully updated') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{ github.event.issue.number }} --body "❗ The rebase introduced a build error! 

          \`\`\`${{ env.BUILD_LOGS }}
          \`\`\`"

      - name: Notify any error
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{ github.event.issue.number }} --body "❗ An internal error has occured while rebasing! See logs at https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}."

  update:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '!update') }}
    steps:
      - uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - uses: actions/checkout@v2
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Download extension
        env:
          BODY: ${{ github.event.comment.body }}
        run: |
          curl -L $(echo $BODY | grep -ioEh 'https?://\S+.zip' -m1) -o /tmp/ext.zip
          unzip -o /tmp/ext.zip -d ./Extensions

      - name: Rebuild the database
        id: build
        run: |
          npm i
          echo 'BUILD_LOGS<<EOF' >> $GITHUB_ENV
          node scripts/generate-extensions-registry.js --check-ci >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Commit and push
        if: ${{ contains(env.BUILD_LOGS, 'successfully updated') }}
        run: |
          git config --global user.name '${{ github.actor }}'
          git config --global user.email '${{ github.actor }}@users.noreply.github.com'
          git add Extensions
          git commit -m "Updated extension"
          git push

      - name: Notify success
        if: ${{ contains(env.BUILD_LOGS, 'successfully updated') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr comment ${{ github.event.issue.number }} --body "✅ Successfully updated the extension!"

      - name: Notify build error
        if: ${{ !contains(env.BUILD_LOGS, 'successfully updated') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{ github.event.issue.number }} --body "❗ The extension does not pass the build, could not update! 

          \`\`\`${{ env.BUILD_LOGS }}
          \`\`\`"

      - name: Notify any error
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{ github.event.issue.number }} --body "❗ An internal error has occured! See logs at https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}."
